@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
    background-color: gray;
    padding: 0 150px;


}
h1{
    color:white;
    text-align: center;
    font-family: 'Leckerli One', cursive;
}
.header{
    font-size: 40px;
}
.navbar{
    background-color: palevioletred;
    width: 100%;
    height: 60px;
    display: flex;
}
.navbar a{
    text-decoration: none;
    
}
.navbar li{
    display: inline-block;
    padding: 5px 35px;
}
.navbar .searchPanel{
    display: inline-block;
    padding: 8px 0;
    
    
}
.navbar input{
    width: 200px;
    height: 25px;
    margin: 4px auto;
    font-family: 'Quicksand', sans-serif;
    margin-left: 50px;

}
.navbar .btn{
    width: 70px;
    height: 25px;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-left: 3px;

    
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.leftPanel{
    background-color: white;
    width: 780px;
    height: 500px;
    padding: 0 20px;
}
.rightPanel{
    background-color: palevioletred;
    width: 250px;
    height: 500px;
    margin-left: 10px;
    
}
h2{
    font-family: 'Leckerli One', cursive;
}
.rightPanel h1{
    color: black;
}
.rightPanel li a{
    color: blue;
}
.rightPanel li{
    padding: 6px 0;
}
.leftPanel h1{
    color: black;
    text-align: center;
    
}
.bottom{
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 10px;
}
.bottom p{
    margin: 20px 7px;
}
p{
    font-family: 'Quicksand', sans-serif;
}
a{
    font-family: 'Quicksand', sans-serif;
}